*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: black;
}
.box{
    width: 130px;
    height: 200px;
    margin: auto;
    background: darkkhaki;
    margin-top: 150px;
    position: relative;
    object-fit: cover;
    

}


.box::before{
position: absolute;
content: "";
top: -50%;
left: 0;
width: 150%;
height: 100%;
border-radius: 50%;
background: #00f4;
transition: .5s;
}
.box:hover::before{
top: 0;

}
